name: build

on:
  workflow_call:

env:
  PROJECT_PATCH: src\AllSales.Console\AllSales.Console.csproj

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore ${{env.PROJECT_PATH}}
    - name: Build
      run: dotnet build ${{env.PROJECT_PATH}} --configuration Release --no-restore