name: build_test_deploy_pipeline

on:
  push:
    branches: [ "master" ]

jobs:
  build_solution:
    uses: ./.github/workflows/build_solution.yml

  unit_tests_cumulative:
    needs: build_solution
    uses: ./.github/workflows/unit_tests_cumulative.yml

  deploy_allsales_console:
    needs: [build_solution, unit_tests_cumulative]
    uses: ./.github/workflows/deploy_allsales_console.yml
    secrets: inherit